/******display******/
*{
	margin: 0;
	padding: 0;
}
#wrapper{
	width: 100%;
	background-color: red;
}
#wrapper div{
	width: 24.7%;
	height: 400px;
	text-align: center;
	background-color: blue;
	display: inline-block;
	box-sizing: border-box;
}
#wrapper .block{
	border-width: 5px;
	border-style: solid;
	border-color: yellow;
}

/******box-model******/
.outer{
	width: 400px;
	height: 400px;
	background-color: green;
	margin: 100px;/*top right bottom left*/
	margin: 50px 100px;/*top-bottom left-right*/
	margin: 50px 100px 0;/*top left-right bottom*/
	margin: 25px 15px 50px 100px;/*top right bottom left*/
	/*margin-top: 50px;
	margin-right: 
	margin-bottom: 	;
	margin-left: 50px;*/
	/*the same as margin*/
	box-sizing: border-box;
	border: 10px black dotted;
	/*border-radius: ;/*px|%*/ 
	/*padding-top: 150px;
	padding-left: 150px;*/
}
.outer .inner{
	width: 100px;
	height: 100px;	
	background-color: blue;
}


